android/jni/libsrc/*.gz
android/jni/libsrc/SDL2-*/
android/jni/libsrc/SDL2_image-*/
android/jni/libsrc/SDL2_net-*/
android/jni/libsrc/SDL2_ttf-*/
android/jni/libsrc/cal3d-*/
android/jni/libsrc/glu-*/
android/jni/libsrc/libiconv-*/
android/jni/libsrc/libxml2-*/
android/jni/libsrc/openssl-*/
android/jni/SDL2
android/jni/SDL2_image
android/jni/SDL2_net
android/jni/SDL2_ttf
android/jni/cal3d
android/jni/gl4es/
android/jni/glu
android/jni/iconv
android/jni/openssl
android/jni/src/
android/jni/xml2
android/src/org/
android/*keystore
android/obj/
android/libs/
android/bin/
android/gen/
android/assets*
